#nav-bar{
  background-color: #00a087;
  top: 0;
  height: 80px;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fix;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  line-height: 80px;
  font-size: 200%;
}

#nav-bar #compose{
  float:right;
  margin-top: 18px;
  padding: 20px 30px;
  border-radius: 3px;
  background-color: white;
}
