.new-tweet {
    background-color: #eeeeee;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom-color: black;
}

textarea {
  width: 100%;
  padding: 5px;

}

.counter{
  float: right;
}